<div class="line top"></div>
<div class="line left"></div>
<div class="line right"></div>
<div id="osp_navbar" class="line bottom"></div>

<script>
  var element = document.getElementById("osp_navbar");
  console.log(element);
  console.log(element.innerHTML);
  element.innerHTML = pheading;
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24132749-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', "UA-24132749-1");
</script>
