<!-- This partial is included before the end of the head tag for only the 'example' presentation -->
<!-- A common use would be to add CSS to the page to customize the theme -->

<script>
  var pheading="Open Science Platform";
</script>

<style>

  /* Here we can create a bottom bar. Should use a table*/

  .reveal .controls {
    bottom: 0.4em;
    right: 2em;
    color: white;
    z-index: 205;
  }

  .line {background: white;}

    .line.bottom {
      color: white;
      background: black;

      line-height: 3.6em;
      height: 3.4em;
      text-indent: 1em;
      font-size: 2.0em;

      font-family: "Roboto", sans-serif;
      font-weight: 360;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-shadow: none;

      @media (max-width: 840px) {
        .line.top {
          height: 15px; } }
  }

  .reveal section pre {
    box-shadow: none;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid lightgrey;
  }
  .reveal section pre:hover {
    border: 1px solid grey;
    transition: border 0.3s ease;
  }
  .reveal section pre > code {
    padding: 10px;
  }
  .reveal table {
    font-size: 0.65em;
  }
  /* For slide-specific CSS example */
  .reveal section.side-by-side h1 {
    position: absolute;
  }
  .reveal section.side-by-side h1:first-of-type {
    left: 25%;
  }
  .reveal section.side-by-side h1:nth-of-type(2) {
    right: 25%;
  }
</style>
